@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.navbarListItemNameActive {
  color: yellow;
}

.bottom-links {
  display: flex;
  justify-content: center;
}

.bottom-link {
  color: rebeccapurple;
  padding: 0 10px;
}
